{% extends 'LidaaTransBundle::base.html.twig' %}

{% block content %}
<p>
    <form action="" method="POST">
        {{ form_widget(form.bundles) }}
        {{ form_widget(form.domains) }}
        {{ form_widget(form.formats) }}
        <input type="submit" value="GO" name="go" />
    </form>
    <span class="right">
        <a href="{{ path('lidaa_trans_newkey') }}">
            <img src="{{ asset('bundles/lidaatrans/img/key_add.png') }}" />
            New key
        </a>
    </span>
</p>

<table class="list">
    <thead>
        <tr>
            <th>Key</th>
            {% for local in data.locales %}
            <th>{{ local|upper }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.keys %}
            <tr>
                <td>
                    {{ key }}
                    <a href="{{ path('lidaa_trans_deletekey', {'key': key}) }}"><img src="{{ asset('bundles/lidaatrans/img/key_delete.png') }}" /></a>    
                </td>
                {% for local in data.locales %}
                <td>{{ data.values[local][key]|default('') }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}