<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		#content { width: 96%; background-color: #fff; margin: 0px; border-right: 1px solid #ddd; padding: 6px 10px 10px 10px; z-index: 10; }
		.contextual {float:right; white-space: nowrap; line-height:1.4em;margin-top:5px; padding-left: 10px; font-size:0.9em;}		
		table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
		table.list th {  text-align:left;background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
		table.list td { vertical-align: middle; }
		table.list td.id { width: 2%; text-align: center;}
		table.list td.checkbox { width: 15px; padding: 0px;}
		table.list td.buttons { width: 15%; white-space:nowrap; text-align: right; }
		table.list td.buttons a { padding-right: 0.6em; }
		table.list caption { text-align: left; padding: 0.5em 0.5em 0.5em 0; }
                .right{float:right;}
	</style>
</head>
<body>
<div id="main">
	<div id="content">

        <p>
			<form action="" method="POST">
				{{ form_widget(form.bundles) }}
				{{ form_widget(form.domains) }}
				{{ form_widget(form.formats) }}
				<input type="submit" value="GO" name="go" />
			</form>

            <span class="right"><a href="{{ path('lidaa_trans_new') }}">New</a></span>
        </p>

		<table class="list">
			<thead>
				<tr>
					<th>Key</th>
					{% for local in locales %}
					<th>{{ local|upper }}</th>
					{% endfor %}
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for key in keys %}
					<tr>
						<td>{{ key }}</td>
						{% for local in locales %}
							<td>{{ values[local][key]|default('-') }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>

</body>
</html>
